@font-face {
  font-family: "iconfont"; /* Project id 3733853 */
  src: url('../fonts/iconfont.woff2?t=1666868494601') format('woff2'),
       url('../fonts/iconfont.woff?t=1666868494601') format('woff'),
       url('../fonts/iconfont.ttf?t=1666868494601') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e9c8";
}

.icon-bingtu:before {
  content: "\e9c9";
}

.icon-bianji:before {
  content: "\e9ca";
}

.icon-biaodan:before {
  content: "\e9cb";
}

